body {
    font-family: 'Open Sans', sans-serif;
}

#waveformViz {
    /* max-width: 1000px;
    width: 70%;
    margin-left: 25%; */
    margin-top: 5%;
    text-align: center;
    /* justify-content: center; */
}

#waveformGraph {
    max-width: 70%;
    /* width: 80%; */
    margin-top: 2%;
    margin-left: 15%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

#predictViz {
    margin-top: 5%;
    text-align: center;
}

#predictGraph {
    max-width: 70%;
    margin-bottom: 2%;
    margin-left: 15%;
    display: flex;
}

#header {
    text-align: center;
}

h2 {
    font-size: 26px;
}

label {
    font-size: 20px;
}

select {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.waveformLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 1;
}

.waveformBackgroundLine {
    fill: none;
    stroke: darkgray;
    stroke-width: 1;
    opacity: 0.5;
}

.waveformExceedLine {
    fill: none;
    stroke: darkslateblue;
    stroke-width: 1.5;
}

.predictLine {
    fill: none;
    stroke: crimson;
    stroke-width: 1;
}

.predictExceedLine{
    fill: none;
    stroke: orange;
    stroke-width: 1.5;
}

.commanText {
    font-size: 20px;
}

.checkboxes label{
    margin: 0px 20px 0px 3px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
}