#waveformViz {
    max-width: 1000px;
    width: 70%;
    margin-left: 25%;
    text-align: center;
    justify-content: center;
}

#waveformGraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

select {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}