body {
    font-family: 'Lato', sans-serif;
}

#waveformViz {
    max-width: 1000px;
    width: 70%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}

#waveformGraph {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tfViz {
    margin-top: 5%;
    text-align: center;
}

#tfStatus {
    font-size: 20px;
}

#header {
    text-align: center;
}

h2 {
    font-size: 26px;
}

label {
    font-size: 20px;
}

select {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}
